<section class="background-wrapper">
  <div class="background-img"></div>

  <div class="overlay">
    <div>
      <h3>Movies, TV shows, and more</h3>
    </div>
    <div>
      <p>Enter your email to create or restart your subscription</p>
    </div>

    <div class="signup-form">
      <input type="email" placeholder="Email Address" />
      <button>
        Sign Up
        <img src="/assets/img/chevron-right.png" />
      </button>
    </div>
  </div>

  

  <div id="error-toast1" class="error-toast1 d-none">
    <div class="error-toast-info">
      <img class="rectangle-red" src="/assets/img/rectangle-red.png">
      <img src="/assets/img/error-vector.svg">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <img src="/assets/img/vector-line.png">
      <img class="close-small" src="/assets/img/close-small.png">
    </div>
  </div>

  <div id="error-toast2" class="error-toast2">
    <div class="error-toast-info">
      <img class="rectangle-red" src="/assets/img/rectangle-red.png">
      <img src="/assets/img/error-vector.svg">
      <p>Sed nunc dui, tempor non scelerisque ut, aliquam sit amet metus</p>
      <button class="error-toast-info-button">Button</button>
      <img src="/assets/img/vector-line.png">
      <img class="close-small" src="/assets/img/close-small.png">
    </div>
  </div>

</section>
