@use "../../styles" as *;

* {
  font-family: "DM Sans", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  background-color: #141414;
  .content-wrapper {
    position: relative;
    max-width: 1650px;
    width: 100%;
    .mainpage-top-content {
      @include flex-center;
      .video-info-container {
        position: absolute;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
      }
      .video-info {
        padding: 0 96px;
        display: flex;
        flex-direction: column;
        text-align: left;
        color: white;
        gap: 32px;
        max-width: 1440px;
        h1 {
          max-width: 440px;
          font-size: 80px;
          margin: 0;
        }
        p {
          max-width: 440px;
          font-size: 16px;
          font-weight: 400;
          margin: 0;
        }
        button {
          max-width: 115px;
        }
      }
      video {
        max-height: 800px;
        width: 100%;
        top: 0;
        object-fit: cover;
      }
    }
  }
}

::ng-deep app-header .desktop-logo {
  display: none;
}

::ng-deep app-header .mobile-logo {
  display: block !important;
}

.mainpage-bottom-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1650px;
  box-sizing: border-box;
  gap: 48px;
  bottom: 48px;
  padding: 0 96px;
  .video-frame-lines {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
    h3 {
      font-size: 20px;
      font-weight: 400;
      margin: 0;
    }
    .frames {
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      gap: 16px;
      white-space: nowrap;
      scrollbar-width: none; // Firefox
      -ms-overflow-style: none; // IE 10+
      &::-webkit-scrollbar {
        display: none; // Chrome, Safari
      }
      img {
        width: 213px;
        height: 120px;
        cursor: pointer;
      }
      img:hover {
        scale: 1.02;
      }
    }
  }
}

.footer-wrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 1650px;
  width: 100%;
  padding: 48px 96px;
  gap: 48px;
}