@use "../../styles" as *;

* {
  font-family: "DM Sans", sans-serif;
}

section {
  @include flex-center;
  background-color: #141414;
  .content-wrapper {
    position: relative;
    max-width: 1650px;
    width: 100%;
    .mainpage-top-content {
      @include flex-center;
      .video-info-container {
        position: absolute;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: flex-start;
      }
      .video-info {
        padding: 0 96px;
        display: flex;
        flex-direction: column;
        text-align: left;
        color: white;
        gap: 32px;
        max-width: 1440px;
        h1 {
          max-width: 440px;
          font-size: 80px;
          margin: 0;
        }
        p {
          max-width: 440px;
          font-size: 16px;
          font-weight: 400;
          margin: 0;
        }
        button {
          max-width: 115px;
        }
      }
      video {
        max-height: 800px;
        width: 100%;
        top: 0;
        object-fit: cover;
      }
    }
  }
}

::ng-deep app-header .desktop-logo {
  display: none;
}

::ng-deep app-header .mobile-logo {
  display: block !important;
}

.mainpage-bottom-content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1440px;
  gap: 48px;
  bottom: 48px;
  padding: 0 96px;
  .video-frame-lines {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
    h3 {
      font-size: 20px;
      font-weight: 400;
      margin: 0;
    }
    .frames {
      overflow-x: scroll; // das funktioniert noch nicht
      display: flex;
      gap: 16px;
      img {
        width: 213px;
        height: 120px;
        cursor: pointer;
      }
      img:hover {
        scale: 1.02;
      }
    }
  }
}
