<app-header>
  <button header-button (click)="handleLogOut()">
    <img src="/assets/img/logout-icon.png" />Log out
  </button>
</app-header>

<section>
<div class="content-wrapper">
  <div class="mainpage-top-content">
    
    <div class="video-info-container">
      <div class="video-info">
        <h1>Breakout</h1>
        <p>
          In a high-security prison, a wrongly convicted man formulates a
          meticulous plan to break out and prove his innocence. He must navigate a
          web of alliances and betrayals to reclaim his freedom and expose the
          truth.
        </p>
        <button><img src="/assets/img/play-icon.png"/>Play</button>
      </div>
    </div>

    <video autoplay muted loop playsinline>
      <source src="assets/movies/movie-mainpage.mp4" type="video/mp4"/>
      Dein Browser unterstützt kein Video.
    </video>
    
  </div>

  <div class="mainpage-bottom-content">
    <div class="video-frame-lines">
      <h3>New on Videoflix</h3>
      <div class="frames">
        <img src="/assets/img/frame1.1.png">
        <img src="/assets/img/frame1.2.png">
        <img src="/assets/img/frame1.3.png">
        <img src="/assets/img/frame1.4.png">
        <img src="/assets/img/frame1.5.png">
        <img src="/assets/img/frame1.6.png">
      </div>
    </div>

    <div class="video-frame-lines">
      <h3>Documentary</h3>
      <div class="frames">
        <img src="/assets/img/frame1.2.png">
        <img src="/assets/img/frame1.5.png">
        <img src="/assets/img/frame1.4.png">
      </div>
    </div>

    <div class="video-frame-lines">
      <h3>Drama</h3>
      <div class="frames">
        <img src="/assets/img/frame1.1.png">
        <img src="/assets/img/frame1.6.png">
        <img src="/assets/img/frame1.8.png">
        <img src="/assets/img/frame1.7.png">
        <img src="/assets/img/frame1.3.png">
      </div>
    </div>

    <div class="video-frame-lines">
      <h3>Romance</h3>
      <div class="frames">
        <img src="/assets/img/frame1.9.png">
        <img src="/assets/img/frame1.9.1.png">
      </div>
    </div>

  </div>
</div>
</section>

<app-footer>
  <a routerLink="/datenschutz">Datenschutz</a>
  <a routerLink="/impressum">Impressum</a>
</app-footer>
