@use "../../../../styles.scss" as *;

* {
	font-family: "DM Sans", sans-serif;
}

::ng-deep [header-button] {
	color: var(--white);
	&:hover {
		cursor: pointer;
		background-color: var(--pramery-purple);
	}
}

section {
	@include flex-center;
	min-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 165rem;
		padding: 4.8rem 9.6rem;
		background-color: transparent;
	}
}

@media (max-width: 769px) {
	.desktop-logo {
		display: none;
	}

	.mobile-logo {
		display: block;
	}

	section {
		.header {
			padding: 1.6rem 3.2rem;
		}
	}
}

@media (max-width: 350px) {
	section {
		.header {
			padding: 1.6rem 1.0rem;
		}
	}
}

:host(.videopreview-header) section {
	.header {
		max-width: 96rem;
	}
}