<app-header>
    <button header-button routerLink="">
        <img src="/assets/icons/logout.svg" />Log out
    </button>
</app-header>

<section>
    <div class="content-wrapper">
        <div class="mainpage-top-content">
            <div class="video-info-container">
                <div class="video-info">
                    <h1>Breakout</h1>
                    <p>
                        In a high-security prison, a wrongly convicted man
                        formulates a meticulous plan to break out and prove his
                        innocence. He must navigate a web of alliances and
                        betrayals to reclaim his freedom and expose the truth.
                    </p>
                    <button routerLink="video-player">
                        <img src="/assets/icons/play_arrow.svg" />Play
                    </button>
                </div>
            </div>

            <div class="video-wrapper">
                <video autoplay muted loop playsinline>
                    <source src="assets/movies/movie-mainpage.mp4" type="video/mp4"/>
                    Dein Browser unterstützt kein Video.
                </video>
            </div>
        </div>

        <div class="mainpage-bottom-content">
            @for (section of videoSections; track section.title) {
            <div class="video-frame-lines">
                <h3>{{ section.title }}</h3>
                <div class="scroll-container">
                    <div class="frames">
                        @for (image of section.images; track image) {
                          <a (click)="onImageClick(image)">
                              <img [src]="image" />
                          </a>
                        }
                    </div>
                    <div class="fade-overlay-right"></div>
                </div>
            </div>
            }
        </div>

        <app-footer [class.mainpage-footer]="isMainPage">
            <a routerLink="/privacy-policy">Privacy Policy</a>
            <a routerLink="/imprint">Imprint</a>
        </app-footer>
    </div>
</section>
