@use "../../../styles.scss" as *;

* {
	font-family: "DM Sans", sans-serif;
}

section {
	display: flex;
	justify-content: center;
	background-color: #141414;
	.content-wrapper {
		position: relative;
		max-width: 1650px;
		width: 100%;
		@media (max-width: 1024px) {
			height: 100vh;
		}
		@media (max-width: 960px) {
			height: auto;
		}
		@media (max-width: 769px) {
			margin-top: 75px;
		}
		.mainpage-top-content {
			@include flex-center;
			@media (max-width: 960px) {
				flex-direction: column;
				margin-bottom: 120px;
			}
			.video-info-container {
				position: absolute;
				width: 100%;
				z-index: 1;
				display: flex;
				justify-content: flex-start;
				@media (max-width: 960px) {
					display: none;
				}
			}
			.mobile-video-info-container {
				@media (max-width: 960px) {
					display: flex;
					width: 100%;
				}
			}
			.video-info {
				padding: 0 96px;
				display: flex;
				flex-direction: column;
				text-align: left;
				color: white;
				gap: 32px;
				max-width: 1440px;
				@media (max-width: 769px) {
					padding: 0 32px;
				}
				h1 {
					max-width: 440px;
					font-size: 80px;
					margin: 0;
					@media (max-width: 1024px) {
						font-size: 56px;
						margin-top: 32px;
					}
					@media (max-width: 769px) {
						font-size: 45px;
					}
				}
				p {
					max-width: 440px;
					font-size: 16px;
					font-weight: 400;
					margin: 0;
				}
				button {
					max-width: 115px;
				}
			}
			.video-wrapper {
				position: relative;
				max-height: 800px;
				overflow: hidden;
			}
			.video-wrapper::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100px;
				background: linear-gradient(to bottom, transparent, #141414);
			}
			@media (max-width: 769px) {
				.video-wrapper::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100px;
					background: linear-gradient(to top, transparent, #141414);
				}
			}
			video {
				width: 100%;
				height: auto;
				object-fit: cover;
				display: block;
			}
		}
	}
}

::ng-deep app-header .desktop-logo {
	display: none;
}

::ng-deep app-header .mobile-logo {
	display: block !important;
}

.mainpage-bottom-content {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	max-width: 1650px;
	box-sizing: border-box;
	gap: 48px;
	bottom: 100px;
	padding: 0 96px;
	@media (max-width: 1024px) {
		bottom: 60px;
		margin-bottom: 90px;
	}
	@media (max-width: 769px) {
		padding: 0 32px;
	}
	.video-frame-lines {
		display: flex;
		flex-direction: column;
		gap: 16px;
		color: white;
		h3 {
			font-size: 20px;
			font-weight: 400;
			margin: 0;
		}
		.frames {
			overflow-x: auto;
			overflow-y: hidden;
			display: flex;
			gap: 16px;
			white-space: nowrap;
			scrollbar-width: none; // Firefox
			-ms-overflow-style: none; // IE 10+
			&::-webkit-scrollbar {
				display: none; // Chrome, Safari
			}
			img {
				width: 213px;
				height: 120px;
				cursor: pointer;
				@media (max-width: 1024px) {
					width: 170px;
					height: 96px;
				}
			}
			img:hover {
				scale: 1.02;
			}
		}
		.scroll-container {
			position: relative;
			.fade-overlay-right {
				display: none;
				@media (max-width: 1550px) {
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					width: 50px;
					height: 100%;
					pointer-events: none;
					background: linear-gradient(to right, transparent, #141414);
					z-index: 2;
				}
			}
		}
	}
}
