<section class="background-wrapper">
    <div class="background-img"></div>

    <div class="overlay">
        <div>
            <h3>Movies, TV shows, and more</h3>
        </div>
        <div>
            <p>Enter your email to create or restart your subscription</p>
        </div>

        <div class="signup-form">
            <input id="signup_email" type="email" [(ngModel)]="email" placeholder="Email Address" />
            <app-button routerLink="/register" [queryParams]="{ email: email }">Sign Up<img src="/assets/icons/chevron_right.svg"/>
            </app-button>
        </div>
    </div>

    <div class="error-toast-desktop display-none">
        <img class="rectangle-red" src="/assets/img/rectangle-red.svg" />
        <img src="/assets/icons/error-vector.svg" />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <img src="/assets/icons/vector-line.svg" />
        <img class="close-small" src="/assets/icons/close_small.svg" />
    </div>

    <!-- dunkle hintergrund wenn error toast mobile angezeigt wird -->
    <div class="mobile-toast-background d-none">
        <div class="error-toast-mobile">
            <img class="rectangle-red-mobile" src="/assets/img/rectangle-red-mobile.svg"/>
            <img src="/assets/icons/error-vector.svg" />
            <p>
                Sed nunc dui, tempor non scelerisque ut, aliquam sit amet metus
            </p>
            <app-button>Close</app-button>
        </div>
    </div>
    
    <div class="error-toast-mobile display-none">
        <img class="rectangle-red-mobile" src="/assets/img/rectangle-red-mobile.svg"/>
        <img src="/assets/icons/error-vector.svg" />
        <p>Sed nunc dui, tempor non scelerisque ut, aliquam sit amet metus</p>
        <app-button>Close</app-button>
    </div>
</section>
