<app-header>
    <button header-button routerLink="/register">Log in</button> 
    <!-- muss noch auf /login geändert werden -->
</app-header>

<section class="background-wrapper">
    <div class="background-img"></div>

    <div class="overlay">
        <div>
            <h3>Movies, TV shows, and more</h3>
        </div>
        <div>
            <p>Enter your email to create or restart your subscription</p>
        </div>

        <div class="signup-form">
            <input id="signup_email" type="email" placeholder="Email Address" />
            <button routerLink="/register">
                Sign Up<img src="/assets/icons/chevron_right.svg" />
            </button>
        </div>

    </div>

    <div class="error-toast-desktop display-none">
      <img class="rectangle-red" src="/assets/img/rectangle-red.svg">
      <img src="/assets/icons/error-vector.svg">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      <img src="/assets/icons/vector-line.svg">
      <img class="close-small" src="/assets/icons/close_small.svg">

    </div>

    <div class="mobile-toast-background d-none">
      <div class="error-toast-mobile">
        <img class="rectangle-red-mobile" src="/assets/img/rectangle-red-mobile.svg">
        <img src="/assets/icons/error-vector.svg">
        <p>Sed nunc dui, tempor non scelerisque ut, aliquam sit amet metus</p>
        <button>Close</button>
      </div> 
    </div> 
        <div class="error-toast-mobile display-none">
            <img class="rectangle-red-mobile" src="/assets/img/rectangle-red-mobile.svg"/>
            <img src="/assets/icons/error-vector.svg" />
            <p>
                Sed nunc dui, tempor non scelerisque ut, aliquam sit amet metus
            </p>
            <button>Close</button>
        </div>
</section>

<app-footer [class.landingpage-footer]="isLandingPage">
    <a routerLink="/privacy-policy">Privacy Policy</a>
    <a routerLink="/imprint">Imprint</a>
</app-footer>
