<div class="atf-img card-wrapper">
	<div class="card">
		<h2>Reset password</h2>
		<p>Create a new password for your <span>Videoflix</span> account.</p>
		<form [formGroup]="restPasswordForm" (ngSubmit)="onSubmit()">
			<app-input
				class="form-input"
				formControlName="new_password"
				type="password"
				placeholder="Enter a password"
				[isVisible]="true"
			>
			</app-input>
			<div class="error">
				@if (showError('new_password')) {
				{{ errorMessage("new_password") }}
				} @else { }
			</div>

			<app-input
				class="form-input"
				formControlName="re_new_password"
				type="password"
				placeholder="Confirm Password"
				[isVisible]="true"
			>
			</app-input>
			<div class="error">
				@if (showError('re_new_password')) {
				{{ errorMessage("re_new_password") }}
				} @else if (showPasswordMismatch) { ⚠ Passwords must match }
				@else { }
			</div>
			<app-button
				class="form-button"
				customClass="disable-btn"
				type="submit"
				[disabled]="restPasswordForm.invalid"
				>Reset my password</app-button
			>
		</form>
	</div>
</div>
