@use "../../../../styles.scss" as *;

* {
	font-family: "DM Sans", sans-serif;
}

section {
	background-color: var(--mainpage-bg);
}

.footer-legal-links {
	@include flex-center;
	position: absolute;
	bottom: 4.8rem;
	left: 50%;
	transform: translateX(-50%);
	gap: 4.8rem;
}

:host(.mainpage-footer) section {
	@include flex-center;
}

:host(.mainpage-footer) .footer-legal-links {
	justify-content: flex-end;
	padding: 0 9.6rem 1.6rem 9.6rem;
	transform: none;
	right: 0;
	@media (max-width: 960px) {
		bottom: 0;
		position: unset;
	}
	@media (max-width: 769px) {
		padding: 0 3.2rem 1.6rem 3.2rem;
	}
}

:host(.preview-footer) .footer-legal-links {
	@media (max-width: 395px) {
        bottom: 2.5rem;
    }
}

::ng-deep .footer-legal-links a {
	color: var(--white);
	text-decoration: none;
	cursor: pointer;
	font-size: 1.8rem;
	&:hover {
		color: var(--pramery-purple);
		transition: color 0.5s ease, transform 0.5s ease;
	}
}

@media (max-width: 769px) {
	::ng-deep .footer-legal-links a {
		font-size: 1.6rem;
	}
}

@media (max-width: 350px) {
	::ng-deep .footer-legal-links a {
		font-size: 1.4rem;
	}
}

:host(.preview-footer) .footer-legal-links {
	width: 100%;
}

:host(.landingpage-footer) .footer-legal-links {
	width: 100%;
}