.atf-img {
	height: 100%;
	background-image: url("../../../../assets/img/signup-brd.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
