<div class="atf-img register-wrapper">
	<div class="register-card">
		<h2>Sign up</h2>
		<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<app-input formControlName="email" label="E-Mail" type="email" placeholder="Email Address"> </app-input>

			<app-input formControlName="password1" label="Passwort" type="password" placeholder="Enter a password"> </app-input>

			<app-input formControlName="password2" label="Passwort bestätigen" type="password" placeholder="Confirm Password"> </app-input>

			@if (passwordsDoNotMatch()) {
			<p class="error">⚠ Passwords must match.</p>
			}

			<app-button type="submit" [disabled]="registerForm.invalid || passwordsDoNotMatch()"> Registrieren </app-button>
		</form>
	</div>
</div>
