<div class="atf-img card-wrapper">
	<div class="card">
		<h2>Forgot your password?</h2>
		<p>
			We will send you an email with instructions to reset your password
		</p>
		<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
			<app-input
				class="form-input"
				formControlName="email"
				type="email"
				placeholder="Email Address"
			>
			</app-input>
			<div class="error">
				@if (showError('email')) {
				{{ errorMessage("email") }}
				} @else { }
			</div>
			<app-button
				customClass="disable-btn"
				type="submit"
				[disabled]="forgotPasswordForm.invalid"
				>Send Email</app-button
			>
		</form>
	</div>
</div>
