<section class="imprint">
    <div class="imprint-container">
    <h1>Impressum</h1>

    <h2><strong>Angaben gemäß § 5 TMG</strong></h2>
    <p>
      Max Mustermann<br>
      Musterstraße 123<br>
      12345 Musterstadt<br>
      Deutschland
    </p>
  
    <p><strong>Kontakt</strong></p>
    <p>
      Telefon: 01234 567890<br>
      E-Mail: 
    </p>
  
    <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</strong></p>
    <p>
      Max Mustermann<br>
      Musterstraße 123<br>
      12345 Musterstadt
    </p>
  
    <p><strong>Haftungsausschluss</strong></p>
    <p>
      Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. <br>
      Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
    </p>
</div> 
</section>