/* global styles */

body {
  margin: 0;
}

.d-none {
  display: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/dm-sans-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/dm-sans-v15-latin-700.woff2") format("woff2");
}
