@use '../../../styles.scss' as *;

* {
    font-family: 'DM Sans', sans-serif;
}

section {
    background-color: var(--mainpage-bg);
    position: relative;
    min-height: 100vh;
}

video {
    width: 100%;
}

::ng-deep app-header .desktop-logo {
    display: none;
}

::ng-deep app-header .mobile-logo {
    display: block !important;
}

::ng-deep app-header .header {
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 3.2rem !important;
}

::ng-deep app-header .header.hide {
    opacity: 0 !important;
    pointer-events: none;
    transition: opacity 0.3s ease;
}