@use '../../../styles.scss' as *;

* {
    font-family: 'DM Sans', sans-serif;
}

section {
    background-color: var(--mainpage-bg);
    position: relative;
    min-height: 100vh;
    .video-overlay {
        position: relative;
      
        &:hover app-header,
        &:hover .your-overlay-class {
          opacity: 1;
          pointer-events: all;
        }
      
        app-header {
          opacity: 0;
          transition: opacity 0.3s;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
}

video {
    width: 100%;
}

.videoplayer-back-btn {
    @include flex-center;
    padding: 1.2rem 2.4rem;
    border-radius: 4rem;
    background: none;
    border: 0.1rem solid var(--pramery-purple);
    cursor: pointer;
    img {
        height: 2.4rem;
        width: 2.4rem;
    }
}

::ng-deep app-header .desktop-logo {
    display: none;
}

::ng-deep app-header .mobile-logo {
    display: block !important;
}

::ng-deep app-header .header {
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 3.2rem !important;
}